<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Code_Pro</title>


    <script type="text/javascript" src="../static/js/call.js">
    function myf();
    }
    </script>
</head>
<body>

<div id="web_compiler">
<div id="menu">
<ul>
    <li>HOME</li>
    <li>CONTACT US
    <li>ABOUT
    <li>LINK1
    <li>LINK2
</ul>
</div>
<div id="h2">
</div>
<div id="home">
</div>
    <div id="middle">
    </div>
<div id="">
<textarea id="larea">
</textarea>
</div>
    <div id="rarea">

    </div>
</div>
<input type="submit"  value="SUBMIT CODE" onclick="myf()"/>
<br>
<div id="footer">
</div>
</div>
</body>
</html>